{% extends 'header.html' %}
<body>
  {% block content %}

      <div class="nav">
        {%for i in clubs %}
        <h2>– Football Club {{i.c_name}} –</h2>
        {% endfor %}

        <table class="content-nav">
          <thead>
            <tr>
              <td>player</td>
              <td>positsion</td>
              <td>nationality</td>
              <td>
                transfer value, <br />
                mill. euro
              </td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="content">

        <table class="players">

          {% for player in c_player %}
          <tr>
            <td>{{forloop.counter}}. {{player.p_name}}</td>
            <td>Midf</td>
            <td>{{player.clubi}}</td>
            <td>{{player.t_money}}</td>
          </tr>
          {% endfor %}
        </table>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
          sequi quia eos cupiditate rerum accusantium odit enim, expedita,
          architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
          amet neque eveniet!
        </p>
      </div>
      <div class="footer state-footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
            <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
    </div>
{% endblock %}
  </body>

